section.action-screen
   .ui-container.lg

      h2.ui-title.action-title Быстро доставим в любую точку Калининграда. #[strong Сделайте заказ прямо сейчас!]
      p.ui-text Мы предоставляем только оригинальную продукцию напрямую от производителя, гарантируя высокое качество материалов, быструю доставку и оптимальные цены!
      .btn-group
         a.ui-btn.btn_action(href="#contacts") Сделать заказ
         - actionPhone = true
         include ../../ui/ui-phone-link/ui-phone-link
               block phone