section.action-screen
   .ui-container.lg
      h2.ui-title.action-title Быстро доставим в любую точку #[br] Калининграда. #[strong Сделайте заказ прямо сейчас!]
      p.ui-text Мы предоставляем только оригинальную продукцию напрямую от производителя, гарантируя высокое качество материалов, быструю доставку и оптимальные цены!
      .btn-group
         a.ui-btn.btn_action(href="#catalog") Сделать заказ
         a.action-phone.hover_parent(href="tel:+79685260007", target="_blank") 
            .vi-fill-icon: i.i-phone
            span +7 968 526 000 7