a.phone {
   position: relative;
   display: flex;
   align-items: center;
   gap: clamp(10px, 2cqi, 15px);
   transition: all .2s ease;

   span {
      font-size: clamp(16px, 2cqi, 22px);
      font-weight: 700;
      color: var(--light);
      transition: inherit;
   }

   i {
      font-size: clamp(18px, 2cqi, 28px);
      color: var(--light);
      transition: inherit;
   }

   .btn_call {
      font-size: clamp(12px, 1.5cqi, 16px);
      font-weight: 400;
      color: var(--light);
      position: absolute;
      right: 0;
      top: calc(100% + 5px);
      transition: inherit;
   }
}