- const mobileMenuItems = [
- {text: 'О нас', link: '#about'},
- {text: 'Продукция', link: '#catalog'},
- {text: 'Отзывы', link: '#reviews'},
- {text: 'Контакты', link: '#contacts'},   
- ]

.mobile-menu-wrap
   .mobile-menu 
      a.mobile-logo(href="/"): img(src="assets/img/logo/logo_color_short.svg", alt="ТД Интех")
      .ui-close.mobile_menu

      nav.mobile-nav
         ul    
            each item in mobileMenuItems
               li: a.closed(href=item.link)= item.text  
      
      .btn-group
         a.ui-btn.btn_action.closed(href="#contacts") Сделать заказ
         button.ui-btn.btn_outline.closed.open_call Заказать звонок

      include ../../contacts-links/contacts-links

      include ../../socials/socials-words
         block socials 
   