@font-face {
  font-family: 'TDIntech';
  src:  url('fonts/TDIntech.eot?opu1s7');
  src:  url('fonts/TDIntech.eot?opu1s7#iefix') format('embedded-opentype'),
    url('fonts/TDIntech.ttf?opu1s7') format('truetype'),
    url('fonts/TDIntech.woff?opu1s7') format('woff'),
    url('fonts/TDIntech.svg?opu1s7#TDIntech') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'TDIntech' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-warehouse:before {
  content: "\e910";
}
.i-angle_left:before {
  content: "\e900";
}
.i-angle_right:before {
  content: "\e901";
}
.i-arrow_long:before {
  content: "\e902";
}
.i-box:before {
  content: "\e903";
}
.i-boxes:before {
  content: "\e904";
}
.i-close:before {
  content: "\e905";
}
.i-delivery:before {
  content: "\e906";
}
.i-email:before {
  content: "\e907";
}
.i-marker:before {
  content: "\e908";
}
.i-phone:before {
  content: "\e909";
}
.i-plus:before {
  content: "\e90a";
}
.i-price:before {
  content: "\e90b";
}
.i-service:before {
  content: "\e90c";
}
.i-shield:before {
  content: "\e90d";
}
.i-telegram:before {
  content: "\e90e";
}
.i-whatsapp:before {
  content: "\e90f";
}
