head
   meta(charset="UTF-8")
   meta(http-equiv="X-UA-Compatible", content="IE=edge")
   meta(name="viewport", content="width=device-width, initial-scale=1.0")
   meta(property="og:type", content="website")
   meta(property="og:title", content="ТД Интех")
   meta(property="og:description", content="Единственный официальный представитель АртеМикс в Калининграде")
   meta(property="og:url", content="http://iql.finance/")
   meta(property="og:image", content="assets/img/optimized/og_image.jpg")
   meta(property="og:site_name", content="ТД Интех")
   link(rel="icon", href="assets/img/favicon/fav_32.ico", type="image/x-icon")

   // Иконки в разных размерах
   link(rel="icon", href="assets/img/favicon/fav_16.png", type="image/png", sizes="16x16")
   link(rel="icon", href="assets/img/favicon/fav_32.png", type="image/png", sizes="32x32")
   link(rel="icon", href="assets/img/favicon/fav_64.png", type="image/png", sizes="64x64")

   // Дополнительные размеры или форматы иконок
   link(rel="icon", href="assets/img/favicon/fav_48.png", type="image/png", sizes="48x48")
   link(rel="icon", href="assets/img/favicon/fav_128.png", type="image/png", sizes="128x128")

   // Скрпиты
   //- script(type="module", src="https://cdn.jsdelivr.net/npm/vanilla-masker@1.1.1/build/vanilla-masker.min.js") 

   // Стили и шрифты
   link(rel="stylesheet", href="assets/libs/css/reset.min.css")
   link(rel="stylesheet", href="assets/fonts/icon-font.css")
   link(rel="stylesheet", href="assets/fonts/fonts.css")
   link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css")

   title ТД Интех