
//- Вкладки
- const catalogTabs = [
- {title: 'сухие смеси', productCountText: '11 товаров', selected: true},
- {title: 'общие материалы', productCountText: '6 товаров'},
- {title: 'мелкая фасовка', productCountText: '11 товаров'},
- {title: 'минеральные удобрения', productCountText: '2 товара'},
- {title: 'сыпучие нерудные материалы', productCountText: '7 товаров'},
- {title: 'цемент', productCountText: '5 товаров'},
- {title: 'товары навалом', productCountText: '7 товаров'},
- ]

//- Сухие смеси
- const dryMixes = [
- {id: '1', title: 'Клей для газобетона АртеМикс (25кг)', descr: 'Укладка плит и блоков из ячеистого бетона(газобетона), укладка силикатного кирпича, облицовка керамической плиткой'},
- {id: '2', title: 'Клей для плитки Усиленный АртеМикс (25кг)', descr: 'Для облицовки поверхностей всеми видами керамической плитки, в том числе керамогранитом, внутри и снаружи зданий.'},
- {id: '3', title: 'Штукатурка гипсовая «Гипсопласт» АртеМикс', descr: 'Для машинного оштукатуривания стен и потолков из бетонных, кирпичных, газо- и пенобетонных оснований внутри сухих'},
- {id: '4', title: 'Штукатурка гипсовая «Базовая» Артемикс 30кг', descr: 'Для высококачественного оштукатуривания стен и потолков внутри помещений ручным и машинным способом'},
- ]



section.catalog-screen
   .ui-container.lg
      .title-wrap 
         button.ui-btn.btn_dark Заказать звонок
         h2.ui-title.section-title строительные смеси для любых работ

      .catalog-wrap
         ul.catalog-tabs
            each item in catalogTabs
               li.tab(class={active: item.selected})
                  h6.tab__title: span.ui-title= item.title
                  span.tab__product-count= item.productCountText
         
         .catalog-container.swiper-container
            .swiper#catalog-swiper
               .swiper-wrapper
                  each item in dryMixes
                     .swiper-slide.product
                        .product-container 
                           .product-img: img(src=`assets/img/catalog/product_1.webp`, alt="item.title")
                           .product-info
                              h4.ui-title.product-title= item.title
                              p.product-descr= item.descr
                              .vi-fill-icon.product_icon(data-id=item.id): i.i-plus
                              