<div class="product-info__item flex-wrap">
   <div class="product-img">
      <picture>
         <source media="(max-width: 535px)" srcset="assets/img/catalog/product_1.webp">
         <source media="(max-width: 700px)" srcset="assets/img/catalog/product_1_700w.webp">
         <source media="(max-width: 1060px)" srcset="assets/img/catalog/product_1_1060w.webp">
         <img src="assets/img/catalog/product_1.webp" alt="">
      </picture>
   </div>
   <div class="descr-wrap">
      <h3 class="product-title">Кирпич глинянный строительный полнотелый М150</h3>
   </div>
</div>