- const features = [
- {title: 'Высокое качество', text: 'Мы предоставляем только качественную и проверенную продукцию напрямую от производителя', icon: 'shield'},
- {title: 'Быстрая доставка', text: 'Собственный автопарк позволяет нам осуществлять быструю доставку по оптимальным ценам', icon: 'box'},
- {title: 'Оптимальная цена', text: 'Работа напрямую с производителем позволяет нам предлагать отпимальные цены', icon: 'price'},
- {title: 'ассортимент', text: 'Мы предлагаем широкий выбор качественной продукции. Строительные материаоы для любых работ', icon: 'boxes'},
- ]

section.about-screen#about
   .ui-container.description
      .about-titles
         h2.ui-title.section-title Мы - ваш выбор в мире строительных смесей
         a.ui-btn.btn_dark(href="#contacts") Сделать заказ #[i.i-arrow_long]

      .about-info
         p.ui-text.selected ТД Интех является официальным партнером Артемикс, а также первым и единственным его дилером в Калининграде и Калининградской области. 
         span.separator
         p.ui-text Мы предоставляем только оригинальную продукцию напрямую от производителя, гарантируя высокое качество материалов, быструю доставку и оптимальные цены! Также мы поставляем не только сухие строительные смеси, но и любую другую продукцию производства АРТЕМИКС. Убедитесь в этом сами, сделав заказ прямо сейчас!
   
   .ui-container.lg
      ul.features 
         each item in features
            li.features__item.hover_parent
               .features__item__container 
                  .vi-border-icon: i(class=`i-${item.icon}`)
                  h3.ui-title.features__item__title= item.title
                  p.ui-text.features__item__text= item.text

