

header {
   padding: 20px 0;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1;
   transition: all .3s ease;

   .ui-container {
      @extend %flexBetween;
      
      gap: 20px;
   }

   .header-mobile-wrap {
      display: flex;
      align-items: center;
      gap: 30px;
   }

   .logo {
      max-width: 160px;
      transition: all .3s ease;

      img {
         max-width: 100%;
         height: auto;
      }
   }
}


@media all and (max-width: 850px) {
   .nav-menu {
      display: none;
   }

   header .logo {
      max-width: 110px;
   }
}

@media all and (max-width: 410px) {
   header {
      a.phone {
         display: none;
      }

      .header-mobile-wrap {
         width: 100%;
         justify-content: space-between;
      }

      .logo {
         order: 1;
      }

      .ui-burger {
         order: 2;
      }
   }


}

