header 
   .ui-container.lg 
      .header-mobile-wrap
         .ui-burger: span
         a.logo(href="/"): img(src="assets/img/logo/logo_light.svg")

      include ../menu/nav-menu/nav-menu
      include ../phone/phone
         block phone
            p.btn_call Заказать звонок



