header.sticky 
   .ui-container.lg 
      .header-mobile-wrap
         .ui-burger: span
         a.logo(href="/"): img(src="assets/img/logo/logo_white.svg")

      include ../menu/nav-menu/nav-menu

      .phone-wrap
         a.header-phone(href=phone.link)
            i(class=phone.icon)
            span= phone.text

         .btn_call.open_call Заказать звонок