- const navMenu = [
- {text: 'О нас', link: '#about'},
- {text: 'Продукция', link: '#catalog'},
- {text: 'Отзывы', link: '#reviews'},
- {text: 'Контакты', link: '#contacts'},
- ]

nav.nav-menu(class={footerMenu: darkMenu == true})
   ul
      each item in navMenu
         li: a(href=item.link)= item.text