form#form(method="POST", action="assets/libs/telegram.php")
   input(type="text", name="subject", value="Сообщение из формы 'Обратная связь'")

   .form-item
      input.field(type="text", name="user_name", inputmode="text", autocomplete="given-name", placeholder="Имя", data-required, data-type="name")
      span.error-message

   .form-item 
      input.field(type="tel", name="user_tel", inputmode="tel", autocomplete="tel", placeholder="Телефон", data-required, data-type="tel")
      span.error-message

   .form-item 
      input.field(type="email", name="user_email", inputmode="email", autocomplete="email", placeholder="Email", data-type="email")
      span.error-message

   .form-item
      textarea.field(name="user_message", placeholder="Сообщение", data-required, data-type="message")
      span.error-message

   .form-item
      button.ui-btn.btn_action(type="submit") Отправить
      p.text Нажимая на кнопку "Отправить" вы соглащаетесь с #[strong политикой конфиденциальности] 

p.message-status