footer {
   padding: 105px 0 70px 0;
   position: relative;
   background: #181a1b;
   overflow: hidden;

   &:after {
      content: '';
      position: absolute;
      left: -390px;
      bottom: -60px;
      width: 706.992px;
      height: 172.492px;
      transform: rotate(-32.841deg);
      border-radius: 706.992px;
      opacity: 0.3;
      background: radial-gradient(50% 50% at 50% 50%, #5DE9E9 0%, rgba(93, 233, 233, 0.30) 52.4%, rgba(93, 233, 233, 0.11) 77.4%, rgba(93, 233, 233, 0.00) 100%);
   }

   .ui-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: relative;

      .planet {
         position: absolute;
         right: -24cqi;
         top: -240px;
         width: 60cqi;
         height: 320%;
         object-fit: cover;
         object-position: left center;
         opacity: .1;
      }
   }

   .footer-col {
      margin-top: 7px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 180px;
      position: relative;
      z-index: 1;

      &.main-col {
         margin-top: 0;
         flex: 0 0 220px;
         max-width: 220px;
      }

      .logo {
         margin-bottom: 22px;
         transition: all .2s ease;

         img {
            max-width: 170px;
            height: auto;
         }

         &:hover {
            transform: translateX(5px);
         }
      }

      .logo-text {
         margin-bottom: 35px;
         font-size: 16px;
         font-weight: 400;
         line-height: 150%;
         color: #5DE9E9;
      }

      .col-title {
         margin-bottom: 20px;
         font-size: 18px;
         font-weight: 600;
         line-height: 166.667%;
         color: #FFF;
      }

      .social-link {
         font-size: 14px;
         font-weight: 400;
         line-height: 180%;
         color: #FFF;
         display: flex;
         align-items: center;
         gap: 10px;

         span, i {
            display: inline-block;
            transition: all .2s ease;
         }

         span {
            position: relative;
            &:after {
               content: '';
               position: absolute;
               bottom: 2px;
               left: 0;
               width: 0;
               height: 1px;
               background: #5DE9E9;
               transition: all .2s ease;
            }
         }

         i {
            font-size: inherit;
         }

         &:hover {
            span, i {
               transform: translateX(3px);

               &:after {
                  width: 100%;
               }
            }
         }
      }

      ul {
         display: flex;
         flex-direction: column;

         li a, li {
            font-family: Roboto, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 180%;
            color: #AAB0B4;
            display: inline-block;
            transition: all .2s ease;
         }

         li a {
            cursor: pointer;
            display: inline-block;

            &:hover {
               transform: translateX(3px);
               color: #5DE9E9;
               text-decoration: underline;
            }
         }
      }

      .footer-link {
         font-size: 14px;
         font-weight: 400;
         line-height: 180%;
         color: #aab0b4;
         max-width: 140px;
         display: inline-block;
         transition: all .2s ease;

         &:hover {
            transform: translateX(3px);
            color: #5DE9E9;
            text-decoration: underline;
         }
      }

      .text {
         font-size: 14px;
         font-weight: 400;
         line-height: 180%;
         color: #AAB0B4;
         max-width: 140px;
      }
   }

   @media all and (max-width: 1020px) {
      .footer-col {
         margin-top: 0;
         margin-bottom: 40px;
         &.main-col {
            max-width: 100%;
            flex: 0 0 100%;
         }

         .logo-text {
            margin-bottom: 15px;
         }
      }
   }

   @media all and (max-width: 768px) {
      .footer-col {
         max-width: 50%;
         flex: 1 1 50%;

         .col-title {
            margin-bottom: 15px;
         }
      }
   }

   @media all and (max-width: 600px) {
      .footer-col {
         .social-link {
            span {
               text-decoration: underline;
               &:after {
                  display: none;
               }
            }
         }

         ul li a, .footer-link {
            text-decoration: underline;
         }

         .col-title {
            margin-bottom: 15px;
         }
      }
   }

   @media all and (max-width: 360px) {
      .footer-col {
         max-width: 100%;
         flex: 1 1 100%;
      }
   }
}

.copyright {
   padding: 16px 0;
   background: #121617;
   mix-blend-mode: multiply;

   .text {
      color: #AAB0B4;
      font-family: Roboto, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 150%;
   }
}