- const footerMenu = true

footer 
   .ui-container 
      .footer-menu-wrap
         a.logo: img(src="assets/img/logo/logo_light.svg", alt="ТД ИНТЕХ")

         include ../menu/nav-menu/nav-menu
            block navMenu

         include ../socials/socials
      
      p.copyright ТД Интех © | Все права защищены

