.socials(class={darkCircleIcons: darkCircleIcons})
   each item in socialsItem 
      a.socials__link(class={'vi-fill-icon': darkCircleIcons}  href=item.link, target="_blank"): i(class=`i-${item.icon}`)
      