.socials {
   display: flex;
   align-items: center;
   gap: 20px;
   
   &__link {
      display: inline-block;
      transition: all .2s ease;

      i {
         font-size: 17px;
         color: var(--light);
         transition: inherit;
      }

      &:hover {
         transform: translateY(-3px);

         i {
            color: var(--action);
         }
      }
   }


   &.words {
      margin-bottom: 30px;
      width: 100%;
      gap: clamp(40px, 5cqi, 70px);

      .socials__link {
         font-size: 16px;
         font-weight: 400;
         color: var(--light);
      }

      @media all and (max-width: 400px) {
        justify-content: center;
      }

      @media all and (max-height: 800px) {
         margin-top: 100px;
      }
   }
}