extends layouts/layout-default

block main 
   section.hero-screen
      .hero-content
         .hero-content__container.ui-container
            .hero-content__titles
               span.decor-el.top.animate #[strong Единственный]
               h1.hero-content__title.animate официальный #[br] дилер продукции #[strong Артемикс]
               span.decor-el.bottom.animate #[strong В Калининграде и области]
            
            .btn-group 
               a.ui-btn.btn_action.animate(href="#contacts") Сделать заказ
               a.ui-btn.btn_outline.animate(href="#about") О нас
         
         .ui-container.lg.socials-wrap 
            include components/socials/socials-words
               block socials 

   include components/screen/about-screen/about-screen
   include components/screen/artemix-screen/artemix-screen
   include components/screen/action-screen/action-screen
   include components/screen/catalog-screen/catalog-screen
   include components/screen/reviews-screen/reviews-screen