extends layouts/layout-default

block head
   | ТД Интех
   
   - const menuItems = [
   - {link: '#start', text: 'Как начать'}, 
   - {link: '#profit', text: 'Расчёт прибыли'}, 
   - {link: '#about', text: 'О нас'}, 
   - {link: '#faq', text: 'FAQ'}, 
   - {link: '#contact', text: 'Контакты'}
   - ]

block header 
  
block main

block additional
   //- include components/swimming-chat/swimming-chat
   //- include components/popups/popup-form/popup-form
   //- include components/popups/popup-review/popup-review













