extends layouts/layout-default

block main 
   section.hero-screen
      .hero-content
         .hero-content__container.ui-container
            .hero-content__titles
               span.decor-el #[strong Единственный]
               h1.hero-content__title официальный #[br] дилер продукции #[strong Артемикс]
               span.decor-el #[strong В Калининграде]
            
            .btn-group 
               button.ui-btn.btn_action Сделать заказ
               a.ui-btn.btn_outline(href="#about") О нас
         
         .social.words.ui-container.lg 
            a.social__link(href="/" target="_blank") Telegram
            a.social__link(href="/" target="_blank") Whatsapp

   include components/screen/about-screen/about-screen
   include components/screen/artemix-screen/artemix-screen
   include components/screen/action-screen/action-screen
   include components/screen/catalog-screen/catalog-screen
   include components/screen/reviews-screen/reviews-screen





