doctype html
html(lang="en")
   include ../components/head/head

   body
      include ../components/ui/ui-preloader/ui-preloader
      include ../components/header/header
      include ../components/menu/mobile-menu/mobile-menu

      main 
         block main
         
      include ../components/footer/footer

      block additional
      
         

      
