- const socialsItem = [
- {icon: 'telegram', link: '/', text: 'Telegram'},
- {icon: 'whatsapp', link: '/', text: 'Whatsapp'}
- ]
- let darkCircleIcons = false

- let phone = {text: '+7 911 459 24 73', link: 'tel:+79114592473', icon: 'i-phone'}
- let actionPhone = false

doctype html
html(lang="en")
   include ../components/head/head

   body
      include ../components/ui/ui-preloader/ui-preloader
      include ../components/header/header
         block phone
      include ../components/menu/mobile-menu/mobile-menu
         

      main 
         block main
      
      include ../components/screen/contact-screen/contact-screen
         block phone
      include ../components/footer/footer
      include ../components/popups/popup-product/popup-product
      include ../components/popups/popup-call/popup-call
      include ../components/popups/popup-review/popup-review
      include ../components/ui/ui-scrollUp/ui-scrollUp
      .ui-overlay

      block additional

      
          

      
