doctype html
html(lang="en")
   include ../components/head/head

   body
      include ../components/ui/preloader/preloader
      include ../components/header/header
         block header
      include ../components/mobile-menu/mobile-menu

      main 
         block main 
         
      include ../components/footer/footer


      block additional
         //- include ../components/swimming-chat/swimming-chat
         //- include ../components/popups/popup-form/popup-form
      
         

      
